<html lang="en">
<head>
        <% include ../../../modules/md_home/views/head.html %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">		
        <% include ../../../modules/md_home/views/header.html %>        
        <% include ../../../modules/md_home/views/vw_home.html  %>                        
</body>
</html>
        <% include  ../../../modules/md_home/views/js.html %>		
<script>
var baseurl = window.location.href;
var mdl = baseurl.split("/");
$(document).ready(function() {
	var url = mdl[2]+"/"+mdl[3]+"/"+'<%= fnmodule %>'+"/?m="+'<%= id %>'+"/";
	$("#myContent").load('http://'+url);			
});

</script>
