<html lang="en">
<head>
        <% include ../../../modules/md_home/views/head.html %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">		
        <% include ../../../modules/md_home/views/headers.html %>        
        <% include ../../../modules/md_home/views/vw_home.html  %>                        
</body>
</html>
        <% include  ../../../modules/md_home/views/js.html %>		
<script>
var baseurl = window.location.href;
var mdl = baseurl.split("/");
</script>
