<html lang="en">
<head>
        <% include ../../../modules/md_home/views/head.html %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">		
        <% include ../../../modules/md_home/views/header.html %>        
        <% include ../../../modules/md_home/views/side.html %>
	<div class="content-wrapper">		
        <% include ../../../modules/md_home/views/vw_home.html %>        
	</div>
    <footer>		
        <% include  ../../../modules/md_home/views/footer.html %>		
    </footer>    
</body>
</html>
        <% include  ../../../modules/md_home/views/js.html %>		
<script>
var base_url = window.location.href;	
	function fnmodule_click(code_module){	
		$("#myContent").load(base_url+code_module+'/index');		
	}
</script>
