<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>INDORSE POC Backend</title>
   <script src="https://code.jquery.com/jquery-1.10.2.js"></script>       
<style>
.hvr:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
</style>    
</head>

<!-- Content Header (Page header) -->
<section class="content-header">          
<nav class="navbar navbar-default">
  <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="#"><%= title %></a>
	</div>
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="#"><i class="fa fa-dashboard"></i> <%= title %></a></li>
	</ul>		
  </div>
</nav>          
</section>

<div class="container">

	<div class="col-sm-6 col-sm-offset-0">
     
		<h2>MY CLAIMS</h2>
		<div id='dataGrid'></div>			
	</div>

</div>
</html>
<script>

        	
fnloadDataList(1);	
function fnloadDataList(vPage){	
	var q = $('#q').val();
	var vLimit = 10;
	$.getJSON("../../md_claims/datalist/?vPage="+vPage+"&vLimit="+vLimit+"&q="+q,
	function (json) {
		var params = {
				vPage  : vPage,
				vrenderTo  : '#dataGrid', 
				vheaders : ["title","desc","proof"],
				vwidth : [5,200,150],		
				vfields : ["title","desc","proof"],		
				vbutton	: ["add","edit","delete"],	
				json : json['Rows']
		}
		dataGrid2(params);
		pagination(json['TotalRows'],vPage,vLimit);
	});
};

</script>
