<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>INDORSE POC Backend</title>
   <script src="https://code.jquery.com/jquery-1.10.2.js"></script>       
<style>
.hvr:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
</style>    
</head>

<!-- Content Header (Page header) -->
<section class="content-header">          
<nav class="navbar navbar-default">
  <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="#"><%= title %></a>
	</div>
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="#"><i class="fa fa-dashboard"></i> <%= title %></a></li>
	</ul>		
  </div>
</nav>          
</section>

<div class="container">

	<div class="col-sm-6 col-sm-offset-0">
     
			
		  <div class="form-group ">
			  <label for="cname" class="control-label col-lg-4"><h1><b id='title'></b></h1></label>
			  <div class="col-lg-10">
				  <p id='desc'></p>
			  </div>
			  <label for="cname" class="control-label col-lg-4">Proof</label>			  
			  <div class="col-lg-10">
				  <a href=''><p id='proof'></p></a>				  
			  </div>
			  
		  </div>
			
	</div>

</div>
</html>
<script>

        	
fnloadData();	
function fnloadData(id){	
	var q = $('#q').val();
	var vLimit = 10;
	$.getJSON("../../md_claims/getclaim/?claim_id=<%= claim_id %>",
	function (json) {		
		document.getElementById("title").innerHTML = json['claims'][0]['claim'].title;
		document.getElementById("desc").innerHTML = json['claims'][0]['claim'].desc;
		document.getElementById("proof").innerHTML = json['claims'][0]['claim'].proof;
		
	});
};
	
</script>
